*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: calibri light;
}

div{
	box-sizing: border-box;
}

.countainer{
	background-color: white;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	gap: 10px;
	border-radius: 15px; 
}
.countainer1{
	background-color: #B0A695;
	width: 20%;
	height: 3070px;
	align-items: center;
	text-align: center;

}

.countainer2{
	width: 80%;
}

.countainer2 .enjoy{
	width: 100%;
	height: 300px;
	background-image: url(img/thumbnaill.jpg);
	background-size: cover;
	background-position-y: -200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.countainer2 .enjoy .tagline{
	color: white;
	font-family: Exotc350 Bd BT;
	font-size: 34px;
	margin: auto;
	text-align: center;
	text-shadow: 3px 3px grey;
	color: white;
}

.counatiner3{
	background-color: #F4DFB6;
	width: auto;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.countainer1 .fotologo{
	width: 200px;
	height: 200px;
	padding-top: 15px;
}

.nav-menu{
	align-items: center;
	text-align: center;
	list-style-type: none;
	justify-content: space-around;
	margin-top: 50px;
}

.nav-menu li a{
	font-size: 20px;
	color: #F3EEEA;
	text-decoration: none;
	align-items: center;
}

.nav-menu li a:hover{
	font-size: 30px;
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

.header{
	min-height: 40rem;
	display: flex;
	background-image: url("img/cover.jpg")
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 0px auto 20px;
	border-top: solid black 5px;
}
.logo2{
	height: 25rem;
}

.section{
	width: 100%;
	height:100vh;
}
.section nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 1000;
}
.judul{
	text-align: center;
	align-items: center;
	font-family: Exotc350 Bd BT;
	font-size: 28px;
	background-color:#776B5D; 
	color: #F3EEEA;
}

.countainer4{
	background-color: #F3EEEA;
	width: auto;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 18px;
}
.countainer4 .kopi{
	width: 300px;
	height: 200px;
}
.teks{
	font-family: Humanst521 Lt BT;
	font-size: 16px;
	padding: 10px;
	color: #776B5D;
}
.countainer5{
	background-color: #EBE3D5;
	width: auto;
	align-items: stretch;
	text-align: center;
	padding-top: 20px;
	padding: 50px;
	display: flex;
	justify-content: space-around;
	margin: 20px;

}

.judulmenu{
	text-align: center;
	align-items: center;
	font-family: Exotc350 Bd BT;
	font-size: 28px;
	padding-bottom: 15px;
	background-color: #F3EEEA;
	padding: 50px;
	padding-bottom: 90px;
	width: 30%;
	color: #776B5D;
 }

.namamenu{
	font-family: calibri light;
	font-size: 15px;
	margin-top: 15px;
	color: #776B5D;
}
.fotomenu{
	width: 200px;
	height: 200px;
	border-radius: 20%;
}
.bestseller{
	text-align: center;
	align-items: center;
	font-family: Exotc350 Bd BT;
	font-size: 28px;
	background-color:#776B5D;
	color: #F3EEEA 
}
.fotobestseller{
	width: 150px;
	height: 200px;
	margin: 20px;
	border-radius: 2px 140px 20px 60px;
	border-radius: 20px 10px 80px 10px;
}
.fotobestseller2{
	width: 150px;
	height: 200px;
	margin: 20px;
	border-radius: 0px 50px 0px 50px;
}
.namaproduk{
	font-size: 18px;
	font-family: Exotc350 Bd BT;
	color: #706233;
	align-items: center;
}
.logowa{
	width: 40px;
	height: 40px;
}
.logoig{
	width: 60px;
	height: 40px;
}
.countainer7{
	background-color: #BFB29E;
	width: auto;
	align-items: stretch;
	text-align: center;
	padding-top: 20px;
	padding: 50px;
	display: flex;
	justify-content: space-around;
}
.countainer8{
	background-color: #EBE3D5;
	width: auto;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.countainer9{
	background-color: #F3EEEA;
	width: auto;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 18px;
}
